<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View All course</title>
</head>
<body>
	<h1>All courses</h1>

	<div th:each="course,iterationStatus: ${courses}">
		<h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
		<h3 th:text="'ID = ' + ${course.idCourse}">course NPM</h3>
		<h3 th:text="'Name = ' + ${course.name}">course Name</h3>
		<h3 th:text="'SKS = ' + ${course.credits}">course GPA</h3>

		<h3>Masiswa yang mengambil :</h3>
		<ul th:each="student,iterationStatus: ${course.students}">
			<li th:text="${student.npm} + '-' + ${student.name}">Npm Nama</li>
		</ul>

		<hr />
	</div>
</body>
</html>
