<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title th:replace="fragments/fragment :: title"></title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('#viewall').DataTable();
	});
</script>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<h4>All Students</h4>
	<table id="viewall" class="display" cellspacing="0" width="100%">
		<thead>
			<tr >
				<th>No</th>
				<th>NPM</th>
				<th>Nama</th>
				<th>GPA</th>
				<th>Status</th>
				<th>Delete</th>
				<th>Update</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student,iterationStatus: ${students}"
				th:class="${iterationStatus.odd}? 'odd'">
				<td th:text="${iterationStatus.count}">No. 1</td>
				<td th:text="${student.npm}">Student NPM</td>
				<td th:text="${student.name}">Student Name</td>
				<td th:text="${student.gpa}">Student GPA</td>
				<td	th:text="${student.gpa>=3.49} ? 'Cum Laude!' : 'Sangat Memuaskan!'"></td>
				<td><a th:href="'/student/delete/' + ${student.npm}">Delete
						Data</a></td>
				<td><a th:href="'/student/update/' + ${student.npm}">Update
						Data</a></td>
			</tr>
		</tbody>
	</table>




	<!-- <h3>Kuliah yang diambil</h3>
			<ul th:each="course,iterationStatus: ${student.courses}">
				<li th:text="${course.name} + '-' + ${course.credits} + ' sks'" >
					Nama kuliah-X SKS
				</li>
			</ul>
	       	
	       <h3 th:if="${student.gpa>=3.49}">Cum Laude!</h3>
	       <h3 th:unless="${student.gpa<=3.48}">Sangat Memuaskan!</h3> 
	       -->

</body>
</html>
